#map {
    height: 100vh;
}

.modal-filter {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30'%3E%3Ccircle cx='15' cy='15' r='10' stroke='green' stroke-width='3' fill='green' fill-opacity='.2' %3E%3C/circle%3E%3C/svg%3E") 15 15, auto;
}

.mobility-lane-button {
    background-image: url(../img/bicycle-svgrepo-com.svg);
    height: 29px;
    width: 29px;
}

.ltn-cell {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30'%3E%3Cpath class='leaflet-interactive' stroke='blue' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' fill='blue' fill-opacity='.2' fill-rule='evenodd' d='M5 5 h20v20h-20v-20'%3E%3C/path%3E%3C/svg%3E") 15 15, auto;
}

.save-file {
    background-image: url(../img/save-svgrepo-com.svg);
    height: 29px;
    width: 29px;
}

.load-file {
    background-image: url(../img/folder-svgrepo-com.svg);
    height: 29px;
    width: 29px;
}

.delete-button {
    background-image: url(../img/outlined-trash-bin-svgrepo-com.svg);
    height: 29px;
    width: 29px;
}

.help-button {
    background-image: url(../img/help-svgrepo-com.svg);
    background-repeat: no-repeat;
    height: 29px;
    width: 29px;
}

.delete-button:hover {
    box-shadow: 0 2px 2px 0 black;
}

ul.popup-buttons {
    padding: 0;
}

ul.popup-buttons li {
    list-style: none;
    display: inline-block;
}

#help {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10001;
    background: rgba(218, 218, 218, 0.95);
    ;
    width: 50%;
    padding: 10px;
    border: 1 solid black;
    box-shadow: 0 2px 2px 0 black;
}

.hide {
    display: none;
}