@tailwind base;
@tailwind components;
@tailwind utilities;

#map {
    height: 100vh;
}

.leaflet-toolbar-0 > li > .leaflet-toolbar-icon {
    width: 60px;
    height: 60px;
}

.leaflet-toolbar-0 > li > .leaflet-toolbar-icon > div {
    width: 56px;
    height: 56px;
    margin: 0 0 0 2;
    background-position: center;
    background-repeat: no-repeat;
}

.save-file {
    background-image: url(../img/save-svgrepo-com.svg);
    background-size: 40px 40px;
}

.load-file {
    background-image: url(../img/folder-svgrepo-com.svg);
    background-size: 40px 40px;
}

.mobility-lane-button {
    background-image: url(../img/bicycle-svgrepo-com.svg);
    background-size: 50px 50px;
}

.tram-line-button {
    background-image: url(../img/tram-svgrepo-com.svg);
    background-size: 50px 50px;
}

.car-free-street-button {
    background-image: url(../img/ban-on-driving-147248.svg);
    background-size: 50px 50px;
}

.help-button {
    background-image: url(../img/help-svgrepo-com.svg);
    background-size: 40px 40px;
}

.ltn-cell {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30'%3E%3Cpath class='leaflet-interactive' stroke='blue' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' fill='blue' fill-opacity='.2' fill-rule='evenodd' d='M5 5 h20v20h-20v-20'%3E%3C/path%3E%3C/svg%3E") 15 15, auto;
}

.delete-button {
    background-image: url(../img/outlined-trash-bin-svgrepo-com.svg);
    width: 29px;
    height: 29px;
    background-size: 29px 29px;
}

.delete-button:hover {
    box-shadow: 0 2px 2px 0 black;
}

ul.popup-buttons {
    padding: 0;
}

ul.popup-buttons li {
    list-style: none;
    display: inline-block;
}

#help {
    z-index: 10001;
    padding: 10px;
    border: 1 solid black;
    box-shadow: 0 2px 2px 0 black;
    overflow-y: auto;
}

.hide {
    display: none;
}

h1 {
    @apply font-medium leading-tight text-3xl mt-0 mb-8 ;
}

h2 {
    @apply font-medium leading-tight text-xl mt-0 mb-2 ;
}

.modal-filter {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30'%3E%3Ccircle cx='15' cy='15' r='10' stroke='green' stroke-width='3' fill='green' fill-opacity='.2' %3E%3C/circle%3E%3C/svg%3E") 15 15, auto;
}

.tram-line [role="button"] {
    cursor: crosshair;
}

.mobility-lane [role="button"] {
    cursor: crosshair;
}

.car-free-street [role="button"] {
    cursor: crosshair;
}

a {
    color: blue;
}